version: '3.8'

services:
  postgres:
    image: postgres:15
    env_file:
      - ../.env
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  liquibase:
    image: liquibase/liquibase
    depends_on:
      - postgres
    env_file:
      - ../.env
    working_dir: /workspace
    volumes:
      - ../:/workspace
    command:
      - update

volumes:
  postgres-data:
